body {
    text-align: left;
    height:100%;
}
html{
    height: 100%;
}
text{
    stroke: none;
    fill: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    border-right: 1px solid #bbb;
    border-radius: 10px;
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 10px;
    width: 140px;
    line-height: 40px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4CAF50;
    border-radius: 10px;
}
.active {
    /*background-color: #4CAF50;*/
}
/*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 5px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: white;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: grey;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}*/