body {
    text-align: left;
    height:100%;
    font-family: Helvetica, serif;
    font-size: 12pt;
    line-height: 110%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
html{
    height: 100%;
}
text{
    stroke: none;
    fill: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    border: 1px solid #bbb;
    border-radius: 10px;
    float: left;
    list-style: none;
    text-align: center;
    color: #000;
    background-color: #DEDEDE;
    margin-right: 2px;
    width: 140px;
    line-height: 40px;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    border-radius: 10px;
}
.active {
    background-color: #84FAA2;
}
#menu_settings
{
    position: absolute;
    right: 0px;
}
foreignobject body{
    margin: 0;
    padding: 5px;
}
#settings_system_name{
    border-radius: 0;
    background: transparent;
    height: 50px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    width: 130px;
}
/*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 5px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: white;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: grey;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}*/