#toolbar{
    display: inline-table;
    width: 140px;
    top: 0px;
    vertical-align: top;
}
#toolbar li {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    width: 140px;
}
#Tool_bar{
    top: 20px;
}
#list {
    display: inline-table;
    font-size: 11pt;
    text-align: center;
    white-space:pre;
    border-spacing: 20px 5px;
    border-collapse:collapse;
}
#list tr{
    border-bottom: 1px solid black;
}
#list body{
    margin: 0px;
}
#legend{
    display: inline-block;
    white-space: pre;
    margin: 10px;
}
#search_list{
    display: inline;
}

.hidden{
    display: none;
}