svg {
    margin-top: 32px;
    border: 1px solid #aaa;
    background-color: #faf0be;/*#45B7FF;*/
}
.person rect {
    fill: #fff;
    stroke: black;/*#072356;*/
    stroke-width: 1px;
}
rect.inmatrix {
    stroke-width: 0;
}
.details rect {
    fill: #FEED8B; /*#EEF66C;*/
    stroke: #072356;
    stroke-width: 1px;
}
.details div{
    overflow-y: scroll;
}
.person {
    font: 14px sans-serif;
    cursor: pointer;
}
.hidden{
    display: none;
}
.link {
    fill: none;
    stroke: #262626;
    stroke-width: 1.5px;
}
.link.additional{
    stroke: #0A3A4A;/*#94FE67;*/
}
table{
}
.attributes{
    overflow-y: hidden;
    /*overflow-x: hidden;
    --webkit-transform: translate(50px,25px);*/
}