<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/Main.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/Tree.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/TreeController.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/TreeView.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/TreeModel.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/MenuBar.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/webvepp/css/main.css" >
    <link rel="stylesheet" type="text/css" href="/static/webvepp/css/tree.css" >
</head>
<body>
    <ul id="Navigation_bar">
      <li id="menu_camacs"><a href="javascript: goToPage('camacs');">Аппаратура</a></li>
      <li id="menu_elements"><a href="javascript: goToPage('elements');">Элементы</a></li>
      <li id="menu_scheme"><a href="javascript: goToPage('scheme');">Схема</a></li>
      <li id="menu_bank"><a href="javascript: goToPage('bank');">BANK</a></li>
    </ul>
</body>
</html>