<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/MainScheme.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/Cookies.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/Settings.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/Scheme.js"></script>
    <script type="text/javascript" src="/static/webvepp/js/MenuBar.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/webvepp/css/main.css" >
    <link rel="stylesheet" type="text/css" href="/static/webvepp/css/scheme.css" >
</head>
<br>
    <ul id="Navigation_bar">
      <li id="menu_settings">
          <select id="settings_system_name" onchange="saveSettings()">
              <option value="CHAN">CHAN</option>
              <option value="V4">VEPP4</option>
              <option value="BPM">BPM</option>
              <option value="TC">TC</option>
          </select>
      </li>
    </ul>
    <br/>
    <ul id="Scheme_switcher_bar"></ul>
</body>
</html>